:root {
  --text-color: #ffffff; /* Midnight Blue */
  --secondary-color: #e11d48; /* Reddish Pink */

  --btn-color: #c2185b;
  --hover-color: #f068a5;
  --pink-color: #eccbcb;
  --green-color: #afc1b9;
  --green-color: #bcdcce;
  --dark-green-color: #263238;
  --yellow-color: #ebd65c;
  --yellow-color: #ebd65c;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.main-container {
  min-width: 100vw;
  min-height: 100vh;
  background: var(--primary-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar {
  width: 100%;
  padding: 20px 80px;
  background-color: #7ac0be;
  /* background: rgba(255, 255, 255, 0.032); Transparent White */
  backdrop-filter: blur(5px); /* Blurred Glass Effect */
  color: white;
}

.nav-bar .title {
  font-size: 32px;
  font-weight: 600;
}
.nav-cluster {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
}

.nav-cluster a {
  padding: 8px 15px;
  color: var(--text-color);
  border-radius: 5px;
  text-decoration: none;
  position: relative;
}

.nav-cluster a::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 0px;
  width: 0px;
  padding: 0px;
  background-color: var(--text-color);
  transition: all 0.3s ease;
}
.nav-cluster a:hover::after {
  width: 100%;
  padding: 1px;
  border-radius: 50%;
}

.main-body {
  width: 100vw;
  height: 100vh;
  flex: 1;
  padding: 20px;
  color: #666;
  background: url("./assets/toa-heftiba-lNOiiPqOqjk-unsplash.jpg");
  background-position: center;
  background-size: cover;
}

.main-body .content {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(0%, -50%);
}

.content .content-text {
  font-size: 24px;
}
.content .content-text span {
  font-size: 16px;
}

.main-body a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 25px;
  border-radius: 5px;
  color: white;
  margin-top: 15px;
  background-color: #7ac0be;
}

.about-main-body {
  background-color: #f1f1f1;
  color: #666;
  min-height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: justify;
}

.about-main-body h3 {
  margin-bottom: 15px;
  text-decoration: underline solid #444 1px;
}

.why span {
  font-weight: 600;
  display: inline-block;
  margin-top: 10px;
}

.contact span {
  color: #f068a5;
}
.contact span:nth-child(n + 2):nth-child(-n + 4) {
  margin-right: 10px;
}

.recipes-main-body {
  background-color: #f1f1f1;
  color: #666;
  min-height: 100vh;
  padding: 40px 80px;
}

.search-block {
  box-shadow: 0px 0px 4px #7ac0be;
  width: 35%;
  display: flex;
  margin-top: 12px;
  border-radius: 5px;
  overflow: hidden;
}

.search-block input {
  flex: 1;
  height: 50px;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 0px 0px 0px 10px;
  color: #666;
}
input::placeholder {
  color: #888;
  font-size: 14px;
}

.search-block i {
  font-size: 22px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-right: 5px; */
  color: white;
  background-color: #7ac0be;
}

.recipe-container,
.favorites-main-body {
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  gap: 32px;
}

.favorites-main-body {
  padding: 40px 80px;
}

.card-body {
  width: 320px;

  height: 430px;
  display: flex;
  flex-direction: column;
  /* gap: 15px; */
  box-shadow: 0px 0px 8px #386c6a;
  border-radius: 5px;
  overflow: hidden;
}

.card-img {
  width: 320px;
  height: 240px;
}

.card-img img {
  width: 100%;
  height: 100%;
}

.card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}

.content-block {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  flex: 1;
  gap: 15px;
}

.name-favorite-cluster i {
  color: #7ac0be;
  cursor: pointer;
  font-size: 19px;
  margin-left: 10px;
}
.name-favorite-cluster .pink {
  color: #e65295;
}

.card-content .recipe-name {
  font-size: 17px;
  font-weight: 500;
  color: #e65295;
}

.card-content .cuisine {
  font-weight: 500;
  color: #386c6a;
}

.btn-cluster {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}

.btn-cluster button {
  width: 50%;
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: #e65295;
  color: white;
  cursor: pointer;
}

.btn-cluster a {
  text-decoration: none;
  color: white;
}

.btn-cluster button:hover {
  background-color: #e83786;
}

.error-message {
  margin-top: 50px;
}

.video-main-body {
  width: 80%;
  height: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  overflow: hidden;
  display: none;
}

.open {
  display: block;
}

.video-main-body iframe {
  width: 100%;
  height: 100%;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 28px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
}

.close-btn:hover {
  background: red;
}

.recipe-details-container {
  padding: 40px 80px;
  width:70%;
  margin:0 auto;
  display:flex;
  flex-direction: column;
  gap:20px;
  color:#666;
}

.recipe-details-title {
  color: #e65295;
  font-size:30px;
  font-weight:500;
}

.recipe-details-image {
  width: 100%;
}

.recipe-details-image img {
  width: 100%;
  height: 400px;
}

.section-title{
  font-size:20px;
  font-weight:500;
  color:#e65295;
}

.ingredients-list{
  list-style-type: disc;
  margin-top:15px;
  padding-left:20px;
  max-height:210px;
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;

}

.ingredients-list li,.instructions-list li{
  padding-top:5px;
  padding-left:10px;
}

.instructions-list{
  padding-left:18px;
  margin-top:15px;
}

.instructions-list li{
  padding-top:10px;
  text-align: justify;
}

.back-btn{
  width:150px;
  padding:10px 30px;
  color:white;
  border-radius:5px;
  border:none;
  background-color: #e65295;
  cursor:pointer;
}

.back-btn:hover{
  background-color: #e83786;
}

.back-btn i{
  margin-right:5px;
}
